<section class="projects">
  <h2>Projets</h2>
  
  <!-- Mini Projet 2 -->
  <div class="project">
    <h3>Mini Projet 2</h3>
    <p><strong>Durée:</strong> Déc. 2017 - Févr. 2018</p>
    <p><strong>Associé à:</strong> Polytech Nice Sophia</p>
    <p><strong>Description:</strong> Outil pour visualiser les informations sur les accidents de la route</p>
    <h4>Fonctionnalités:</h4>
    <ul>
      <li>Analyse des données</li>
      <li>Conception</li>
      <li>Développement des fonctionnalités:
        <ul>
          <li>Gestion des utilisateurs:
            <ul>
              <li>Enregistrement</li>
              <li>Authentification</li>
              <li>Editer son profil</li>
              <li>Visualisation des accidents (Map, Liste)</li>
              <li>Ajouter des commentaires</li>
            </ul>
          </li>
          <li>Gestion des admins:
            <ul>
              <li>Authentification</li>
              <li>Ajout des admins</li>
              <li>Editer les simples utilisateurs</li>
              <li>Editer les accidents (gravité, numéro et coordonnées)</li>
              <li>Visualiser les accidents (Map, Liste)</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h4>Technologies utilisées:</h4>
    <p>Front end: HTML5, CSS3, Bootstrap4, Angular4</p>
    <p>Back end: NodeJs</p>
    <p>BD: MongoDB</p>
  </div>
  
  <!-- Mini Projet 1 -->
  <div class="project">
    <h3>Mini Projet 1</h3>
    <p><strong>Durée:</strong> Déc. 2014 - Févr. 2015</p>
    <p><strong>Associé à:</strong> Faculté des Sciences de Fès</p>
    <p><strong>Description:</strong> Développer une application de gestion et de suivi des inscriptions en doctorat</p>
    <h4>Fonctionnalités:</h4>
    <ul>
      <li>Gestion des candidats et des doctorants</li>
      <li>Gestion des professeurs directeurs de thèse</li>
      <li>Gestion des professeurs co-encadrants</li>
      <li>Gestion des sujets de thèse proposés par les professeurs</li>
      <li>Tableau de bord et indicateurs</li>
    </ul>
    <h4>Technologies utilisées:</h4>
    <p>BD: MySQL</p>
    <p>Langage: Java</p>
    <p>Gestionnaire de dépendance: Maven</p>
    <p>Persistance: JPA</p>
    <p>IHM: Swing, SwingX</p>
    <p>Test Unitaire: JUnit</p>
  </div>
</section>
