<div class="experience-container">
    <h1>Mon Parcours Professionnel</h1>
    
    <!-- Actuel Poste -->
    <section class="current-position">
      <h2>Poste Actuel</h2>
      <div class="job-details">
        <img src="assets/logos/cgi.png" alt="Logo de CGI" class="company-logo">
        <div class="job-info">
          <h3>Web Software Engineer</h3>
          <p><strong>Entreprise:</strong> CGI</p>
          <p><strong>Durée:</strong> Juin 2023 - Aujourd’hui (1 an 3 mois)</p>
          <p><strong>Localisation:</strong> Lyon, Auvergne-Rhône-Alpes, France</p>
        </div>
      </div>
    </section>
  
    <!-- Expériences Précédentes -->
    <section class="previous-experience">
      <h2>Expériences Précédentes</h2>
  
      <!-- Sogeti -->
      <div class="job-details">
        <img src="assets/logos/sogeti.png" alt="Logo de Sogeti" class="company-logo">
        <div class="job-info">
          <h3>Consultant Technique Confirmé</h3>
          <p><strong>Entreprise:</strong> Sogeti</p>
          <p><strong>Durée:</strong> Janv. 2022 - Juin 2023 (1 an 6 mois)</p>
          <p><strong>Localisation:</strong> Lyon, Auvergne-Rhône-Alpes, France</p>
          <h4>Projets:</h4>
          <ul>
            <li>SILVA: Outil d'accessibilité des matériels roulants (3 ans & 7 mois)</li>
            <li>IC@RE: Suivi d'agents et gestion des habilitations (4 mois)</li>
            <li>Thémis Règles: Application de correction des transactions de vente (11 mois)</li>
          </ul>
          <h4>Rôle:</h4>
          <ul>
            <li>Conception technique, développement, et tests unitaires</li>
            <li>Analyse et correction des anomalies</li>
            <li>Livraison et démonstration au client</li>
          </ul>
          <h4>Stack Technique:</h4>
          <p>Angular, Java, Spring-boot, Docker, Datadog, Kubernetes, MongoDB</p>
          <h4>Gestion du Projet:</h4>
          <p>Méthodologie Agile Scrum</p>
        </div>
      </div>
  
      <!-- Ajouter d'autres expériences précédentes de manière similaire -->
  
    </section>
  </div>
  