      <!-- Formations -->
    <section class="education">
      <h2>Formations</h2>
  
      <!-- Polytech Nice Sophia -->
      <div class="education-details">
        <img src="assets/logos/polytech.png" alt="Logo de Polytech Nice Sophia" class="education-logo">
        <div class="education-info">
          <h3>Polytech Nice Sophia</h3>
          <p><strong>Master 2, Informatique, Fondements et Ingénierie - Web</strong></p>
          <p><strong>Durée:</strong> 2017 - 2019</p>
        </div>
      </div>
  
      <!-- Faculté des Sciences de Fès -->
      <div class="education-details">
        <img src="assets/logos/fes.png" alt="Logo de Faculté des Sciences de Fès" class="education-logo">
        <div class="education-info">
          <h3>Faculté des Sciences de Fès</h3>
          <p><strong>Master 2, Imagerie et Informatique Décisionnelle</strong></p>
          <p><strong>Durée:</strong> 2014 - 2016</p>
        </div>
      </div>
  
      <!-- Faculté des Sciences d'Oujda -->
      <div class="education-details">
        <img src="assets/logos/oujda.png" alt="Logo de Faculté des Sciences d'Oujda" class="education-logo">
        <div class="education-info">
          <h3>Faculté des Sciences d'Oujda</h3>
          <p><strong>Licence, Technologie du Web</strong></p>
          <p><strong>Durée:</strong> 2011 - 2014</p>
        </div>
      </div>
  
      <!-- Lycée Moulay Ismail -->
      <div class="education-details">
        <img src="assets/logos/lycee.png" alt="Logo de Lycée Moulay Ismail" class="education-logo">
        <div class="education-info">
          <h3>Lycée Moulay Ismail</h3>
          <p><strong>Baccalauréat, SVT</strong></p>
          <p><strong>Durée:</strong> 2010 - 2011</p>
        </div>
      </div>
    </section>

  