<section class="home">
    <div class="intro">
      <h1>Mohammed BOURAGBA</h1>
      <p class="title">Expert Technique sur les Technologies Web</p>
      <p class="description">
        Je suis un expert technique spécialisé dans les technologies web avec une vaste expérience en Angular, Node.js, et en développement cloud. Je m'engage à fournir des solutions innovantes et efficaces qui répondent aux besoins modernes des entreprises.
      </p>
      <a href="#contact" class="cta-button">Contactez-moi</a>
    </div>
  </section>
  